{# On herite de base.html.twig : on recupere la meme structure html et on remplace certains block
#}

{% extends "base.html.twig" %}

{# On ecrase le block title #}

{% block title %}
    Share It
{% endblock %}

{% block body %}
    <h1>Share It</h1>
    
{% endblock %}