{# On herite de base.html.twig : on recupere la meme structure html et on remplace certains block
#}



{% extends "base.html.twig" %}

{# On ecrase le block title #}

{% block title %}
    Share It
{% endblock %}

{% block body %}
    

    <form method="post" action="#"
     enctype="multipart/form-data" class="container">     
            <div class="form-row">
              
              
              <div class="form-group col-md-2">
                <label for="inputZip">Telecharger </label>
                <input type="hidden" class="form-control" name="MAX_FILE_SIZE" value="2097152">
                    
                <input type="file" name="fichier"> 
               </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    
{% endblock %}
